# Code owners for code-quality-tools
# https://help.github.com/en/articles/about-code-owners

* @robertrossmann

# Packages' owners

/packages/eslint-config-{base,mocha,node}/      @robertrossmann
/packages/eslint-config-react-native/           @robertrossmann @andrenanninga
/packages/eslint-config-react/                  @dannytce @prichodko
/packages/prettier-config/                      @dannytce @prichodko
/packages/stylelint-config-styled-components/   @dannytce @prichodko
